{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h2 class="heading2 display-4">All Pages</h2>

    <div class="row container list">
        {% for entry in entries %}
        <div style="margin:0 auto;" class="card col-md-4 text-center p-0">
            <a href="{% url 'entry_view' entry %}">
            	<div class="card-body">
            		{{ entry }}
            	</div>
        	</a>
        </div>
        {% endfor %}
    </div>

  

{% endblock %}